---
import NavFooter from "./NavFooter.astro";
---

<footer class="bg-green-600 text-white pt-12 pb-6">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <NavFooter />
        </div>
        <div class="border-t border-white mt-12 pt-6 text-center text-white">
            <p>&copy; 2025 Municipalidad de Castro - Todos los derechos reservados</p>
        </div>
    </div>
</footer>